table {
    border-spacing: 0px;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    width: 100%;
    max-width: 750px;
    margin: 20px auto;
}

th  {
    border: 2px solid #ddd;
    padding-bottom: 8px;
    padding-top: 8px;
}

td {
    border: 0px solid #eee;
    border-width: 0px 2px 1px 2px;
}

td.quarters {
    padding: 8px;
    width: 100px;
}

td, th {
    text-align: center;
}

.week_index {
    font-size: 10px;
    border-right: 1px solid #ddd;
}