table {
    width: 100%;
    border-spacing: 0px;
}

th {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

td {
    padding: 0px;
}

td, th {
    text-align: center;
}

h2 {
    margin: 0px 0px 10px 50px;
}

.week_index {
    font-size: 10px;
    border-right: 1px solid #ddd;
}

.month-out {
    color: #ccc;
}

.year-out {
    color: #eee;
}

.today {
    color: red;
}

td>div {
    height: 50px;
    width: 50px;
    padding: 5px;
    padding-top: 15px;
    border: 1px solid #eee;
    border-right: 0px;
    border-bottom: 0px; 
}

.event-signal {
    font-size: 10px;
    height: 15px;
    width: 15px;
    position: relative;
    border-radius: 36px; 
}

.event-signal-1 {
    background-color: #ffe6e6;
    top: -35px;
    left: 28px;
}

.event-signal-2 {
    background-color: #ffffcc;
    top: -32px;
    left: 28px;
}

.event-signal-3 {
    background-color: #ccffcc;
    top: -30px;
    left: 28px;
}

.event-signal-4 {
    background-color: #f2f2f2;
    top: -45px;
    left: 10px;
}